

/* Large desktop */
@media (min-width: 1200px) {


}
 
/* Tablet landscape and desktop */
@media (min-width: 960px) and (max-width: 1199px) { 

}
 
/* Landscape phone to portrait tablet */
@media (min-width: 768px) and (max-width: 959px) { 
	.sp-wrap {width:728px!important}
	#sp-top-menu, .sp_date{display:none}
	#sp-share{float:left!important}
	#sp-banner {width:320px}
	
	input#mod-search-searchword {
		width:120px;
	}
	
	.tabs_buttons ul.tabs_container li.tab {
		padding:0 10px!important;
	}
	
	span.designed_by {
		display:block;
	}
}
 
/* Phones portrait and landscape  */
@media only screen and ( max-width: 767px ) {
	.sp-wrap {min-width:280px!important;width:95%!important}
	#sp-leftcol, #sp-rightcol,#sp-inset1, #sp-inset2, #sp-maincol, #inner_content, .sp-block, .item {width:100%!important;margin:0!important}
	.sp-block .first, .sp-block .last, .sp-block .single,
	.item .first, .item .last, .item .single	{margin:0!important}
	.item-inner {padding:10px 0!important}
	a#logo {width:100%!important;background-position:50% 50%!important}
	#hornav,#sp-search,#powered-by,#sp-footer-nav {display:none!important}
	#sp-footer {text-align:center}
	#sp-footer .cp {float:none!important}
	span.designed_by {display:block}
	select.select-menu {width:100%}
	#sp-mmenu {display:block!important;margin:0}
	
	#sp-top-menu, #sp-banner, .sp_date{display:none}
	#sp-share{float:left!important}
	
	/*smart slider*/
	div.nivo-caption{display:none!important}
	
	/*K2*/
	div.subCategory a.readmore {top:25px}
	div.subCategory h2{font-size:20px!important}
	div.itemToolbar ul li.itemPrintLink, div.itemToolbar ul li.itemEmailLink, div.itemToolbar ul li.itemTextResize {margin:0!important}
	
	/*Templates*/
	.border{margin-bottom:10px}
	a#topofpage{float:none!important}	
}